* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.bg-pharma {
  background: linear-gradient(to bottom, #003049, rgb(57, 57, 129)); 
  background-size: 100% 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.ant-form-item-label {
  text-align: start;
}

.form_item_Metadata_career {
  margin-bottom: 5px !important;
}

.side-bar::-webkit-scrollbar {
  width: 5px;
}

.side-bar::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 2px;
}

.side-bar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.side-bar::-webkit-scrollbar-track {
  background: #f1f1f1;
}